*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif, 'Courier New', Courier, monospace;
    font-size: 32px;
}

.container{
    max-width: 1440px;
    margin: auto;
}

.flex-container{
    display: flex;
    max-width: 100%;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: .3rem;
    padding: .2rem;
}

#search-form{
    border-radius: .3rem;
}

#search-input{
    display: flex;
    border: none;
    outline: none;
    font-size: 0.5rem;
    background-color: transparent;
}

#search-input::placeholder{ 
    color: var(--header-pc);
}

.small-letter{
    display: block;
    font-size: .45rem;
    color: rgb(109, 109, 109);
}

.small-letter-simbol{
    font-size: .9rem;
    line-height: .7rem;
    color: rgb(109, 109, 109);
}

.icon-climate-small{
    width: 1.5625rem;
}

.color-text-black{
    color: black;
}