main > .flex-container, section{
    flex-direction: column;
    padding: .5rem 0;
    width: 100%;
}

main .search-bar{
    background-color: var(--header-pc);
    margin: auto;
}

main #search-input{
    color: white;
}

#tickmarks{
    width: 92%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.city-date{
    font-size: .79rem;
    text-align: left;
    width: 100%;
}

.main-climate{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem 0 1rem 0;
}

.inside-main-climate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    width: 100%;
}

#selector-hour{
    flex-direction: column;
}

.main-climate img{
    height: 1.875rem;
}

.temperature{
    display: flex;
    align-items: flex-start;
    padding-top: .2rem;
}

#number{
    font-size: 2rem;
    line-height: 1.5rem;
}

#unit{
    font-size: .6rem;
    font-weight: 600;
}

#temperature-hourly{
    width: 90%;
    margin: auto;
}

.next-days{
    justify-content: space-around;
}

.next-days>div{
    flex-direction: column;
    align-items: center;
}

.day{
    text-transform: uppercase;
    font-size: .5rem;
}

#max-temp{
    color: black;
}

@media only screen and (min-width: 768px) {
    main .search-bar{
        display: none;
    }
}